.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: linear-gradient(to right, #a64115 0%, #a64115 100%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #a64115;
}

.auth-container p {
  text-align: center;
  margin-top: 20px;
}
